@import './scss/bootstrap';
@import './scss/card';
@import './scss/screenLoader';
@import './scss/button';

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

header,
footer {
    background-color: #fca311;
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.icon {
    height: 30px;
}

.tel-no,
.email {
    text-decoration: none;
    color: #000;
}

.email:hover,
.tel-no:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.backImg {
    background-image: url(./assets/backImg.png);
    background-size: cover;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animation {
    color: #fca311;
    animation: fadeIn 2s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text {
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1%;
    height: 19px;
    // margin-left: 215px
}

::-webkit-scrollbar {
    display: none;
}
#contactCard,#cartCard{
    width: 50%;
}

@media screen and (max-width:991px) {
    #contactCard,#cartCard {
        width: 60%;
    }
}
@media screen and (max-width:770px) {
    #contactCard,#cartCard {
        width: 70%;
    }
}
@media screen and (max-width:550px) {
    #contactCard,#cartCard {
        width: 80%;
    }
}
@media screen and (max-width:490px) {
    #contactCard,#cartCard {
        width: 90%;
    }
}
@media screen and (max-width:445px) {
    #contactCard,#cartCard {
        width: 100%;
    }
}